<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- カメラの権限とオプション設定 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nuka2024"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:hardwareAccelerated="true">

        <!-- メインアクティビティ -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ホーム画面"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"> <!-- 縦画面固定 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QRコードスキャンアクティビティ -->
        <activity
            android:name=".ui.qr_scanner.QRCodeCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 縦画面固定 -->

    </application>

</manifest>
